<div class="card see-task">
  <div class="card-body">
    <div class="details" *ngIf="idTask != -1">
      <h5 class="card-title">Detalles de la tarea</h5>
      <p>
        <strong>{{ task.title }}</strong> - {{ task.date }}
      </p>
      <p><strong>Estado: </strong>{{ task.completed | stateTask }}</p>
      <p><strong>Personas Asociadas:</strong></p>
      <div *ngFor="let person of task.people">
        <p style="margin-bottom: 0">
          &nbsp;-{{ person.fullName }} ({{ person.age }})
        </p>
        <p><strong>&nbsp;&nbsp;&nbsp;-Habilidades:</strong></p>
        <div *ngFor="let skill of person.skills; let pos = index">
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ skill.name }} -> </span>
          <span *ngFor="let version of skill.versions; let posSkill = index">
            <span>
              {{ version.name }}
              <span *ngIf="posSkill < skill.versions.length - 1">|</span>
            </span>
          </span>
          <br />
        </div>
      </div>
      <br />
      <button class="btn btn-secondary form-control" routerLink="">
        Listado de tareas
      </button>
    </div>
  </div>
</div>
